<launch>

  <arg name="a" default="0.2"   />
  <arg name="b" default="0.4"   />

  <arg name="r"                   default="0.05"  />
  <arg name="w_max"               default="10.0"  />
  <arg name="encoders_resolution" default="360"   />
  <arg name="wheel_1_error"       default="1.00"  />
  <arg name="track_gauge_error"   default="1.00"  />

  <arg name="c"     default="$(eval arg('r') + 0.05)"  />

  <arg name="x_init"      default="0.0" />
  <arg name="y_init"      default="0.0" />
  <arg name="theta_init"  default="0.0" />

  <arg name="x_spacing"       default="1.0"   />
  <arg name="y_spacing"       default="1.0"   />
  <arg name="line_thickness"  default="0.005" />

  <arg name="sensor_1_x" default="0.0"  />
  <arg name="sensor_1_y" default="-0.1" />

  <arg name="sensor_2_x" default="0.0" />
  <arg name="sensor_2_y" default="0.1" />

  <arg name="file_name"   default="you_forgot_to_put_a_name"  />
  <arg name="folder_name" default="recorded_data"             />

  <arg name="use_joystick"  default="false" />
  <arg name="joystick_tag"  default="js1"   />


  <arg name="record" default="true" />

  <arg name="simulation_group"  default="simulation"  />


  <!-- If a joystick is used, launch a relative group of node to use it -->
  <group if="$(arg use_joystick)">

    <!-- joy node -->
    <node respawn="true" pkg="joy" type="joy_node" name="joy_node" >
      <param name="dev" type="string" value="/dev/input/$(arg joystick_tag)" />
    </node>

    <!-- The compute_twist adapter -->
    <node respawn="true" pkg="simulation" type="simulation_compute_twist" name="compute_twist" output="screen" >
    </node>

  </group>

  <!-- By default use the key node -->
  <node pkg="simulation" type="simulation_key_node" name="key_node" output="screen" unless="$(arg use_joystick)" >
  </node>


  <!-- The ground generator -->
  <node pkg="simulation" type="simulation_ground_generator" name="ground_generator" >
    <param name="x_spacing"       value="$(arg x_spacing)"        />
    <param name="y_spacing"       value="$(arg y_spacing)"        />
    <param name="line_thickness"  value="$(arg line_thickness)"   />
    <remap from="RobotPosture" to="$(arg simulation_group)/RobotPosture"       />
  </node>

  <!-- The group containing the heart of the simulation -->
  <group ns="$(arg simulation_group)">

    <!-- The node to save all the needed data -->
    <node pkg="simulation" type="simulation_file_handler" name="file_handler" args="$(find data)/$(arg folder_name)  $(arg file_name)" output="screen" required="true" if="$(arg record)">
      <param name="topics_to_save" value=" RobotPosture EncodersReading IRSensorsStatus RobotOdometry" />
    </node>

    <!-- The robot_2_0 -->
    <node pkg="simulation" type="simulation_robot_2_0" name="robot_2_0" output="screen">
      <param name="a"                   value="$(arg a)"                      />
      <param name="wheel_radius"        value="$(arg r)"                      />
      <param name="b"                   value="$(arg b)"                      />
      <param name="c"                   value="$(arg c)"                      />
      <param name="actuator_max_speed"  value="$(arg w_max)"                  />
      <param name="x_init"              value="$(arg x_init)"                 />
      <param name="y_init"              value="$(arg y_init)"                 />
      <param name="theta_init"          value="$(arg theta_init)"             />
      <param name="encoders_resolution" value="$(arg encoders_resolution)"    />
      <param name="wheel_1_error"       value="$(arg wheel_1_error)"          />
      <param name="track_gauge_error"   value="$(arg track_gauge_error)"      />
    </node>

    <!-- The sensor -->
    <node pkg="simulation" type="simulation_sensor" name="sensor" output="screen" required="true">
      <param name="x1_pos"          value="$(arg sensor_1_x)"       />
      <param name="y1_pos"          value="$(arg sensor_1_y)"       />
      <param name="x2_pos"          value="$(arg sensor_2_x)"       />
      <param name="y2_pos"          value="$(arg sensor_2_y)"       />
      <param name="x_spacing"       value="$(arg x_spacing)"        />
      <param name="y_spacing"       value="$(arg y_spacing)"        />
      <param name="line_thickness"  value="$(arg line_thickness)"   />
    </node>

  </group>

  <!-- Launch Rviz -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find simulation)/rviz/config.rviz" >
  </node>

  <!-- Add robot model with user defined parameters -->
  <param name="robot_description" command="$(find xacro)/xacro $(find simulation_description)/urdf/robot_2_0.xacro
              a:=$(arg a)
              b:=$(arg b)
              c:=$(arg c)
              r:=$(arg r)
              sensor_1_x:=$(arg sensor_1_x)
              sensor_1_y:=$(arg sensor_1_y)
              sensor_2_x:=$(arg sensor_2_x)
              sensor_2_x:=$(arg sensor_2_x) " />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
  </node>



</launch>
