<launch>

  <!-- Select the estimation files to be loaded -->
  <arg name="file_name"         value="low_errors_lf_010s1" />

  <!-- Select the folder containig the desired estimation file -->
  <arg name="take_from_folder"  value="stress_test"   />

  <!-- Include the launch file which plots the results -->
  <include file="$(find plotting)/launch/plotting.launch" pass_all_args="true">
  </include>


</launch>
